*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}

svg{
    width: 100%;
    flex-shrink: 0;
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(62, 63, 63);
    flex-shrink: 0;
}
.master{
    background-color: black;
    width: 320px;
    height: 300px;
    margin: 100px;
    border-radius:10px ;
    padding-top: 15px;
}
.weather-div{
    padding: 10px 15px;
    line-height: 35px;

}
h1 , h2,h3{
    color: white;
    font-weight: normal;
    margin-left: 12px;
    

}
h1{
    margin-top: 28px;
    margin-bottom: 18px;
}

.search-btn{
    box-sizing: content-box;
    font-size: 20px;
    width: 30px;
    height: 30px;
    border: none;
    border-radius: 20px;
    margin-bottom: 0;
    position: relative;
    top: 2px;
    background-color: rgb(62, 63, 63);
    display: inline-flex;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;
}
.search-btn:hover{
    cursor: pointer;
}
.search-btn:active{
    opacity: 0.5;
}
.search-bar{
    border: none;
    padding-left:8px ;
    font-size: 20px;
    width: 270px;
    margin-left: 6px;
    height: 30px;
    border-radius: 40px;
    background-color: rgb(62, 63, 63);
    caret-color:white;
    font-size: 17px;
    color: white;
}
.search-bar:focus{
outline: none;

}
.search-bar::placeholder{
    color: #adadad;
    cursor: text ;
}