body{
  display: flex;
  justify-content: center;
}
.form-div {
  
 align-items: center;
 border: solid black 1px;   
 display: flex;
 flex-direction: row;
 justify-content: center;
 height: 200px;
 width: 300px;
}
#username{
  display: block;
  margin-top: 20px;

}
#pass{
  display: block;
  margin-top: 30px;
}
.warn{
  color: red;
  display: none;
}