*{
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}
body{
  display: flex;
  justify-content: center;
  background-color: rgb(3, 3, 59);
}
.main-form{
  display: flex;
  column-gap: 20px;
  row-gap: 15px;
  flex-direction: column;
  width: 250px;
}
.form-div {
  padding-top: 15px;
  margin-top:100px ;
 border: solid black 1px;   
 display: flex;
 flex-direction: row;
 justify-content: center;
 align-items: center;
 height: 300px;
 width: 350px;
 background-color: rgb(247, 248, 248);
 border: none;
 border-radius: 5px;
}
.log-in{
  display: flex;
  position: absolute;
  top: 115px;
}
#username , #pass{
  padding: 8px 10px;
  width: 100%;
  height: 40px;
  background-color: rgb(112, 209, 112);
  border: none;
  border-radius: 10px;

}
 #username, #pass:focus{
  outline: none;
}
#login-btn{
  padding: 8px 10px;
  width: 100%;
  height: 40px;
    border: none;
  border-radius: 10px;
  background-color: rgb(125, 216, 228);
  color: rgb(114, 113, 113);
  font-size: 17px;
  font-weight: bold;
  
}
#login-btn:hover{
  cursor: pointer;
}
.warn{
  color: red;
  display: none;
  position: absolute;
  top: 10px;
} 
.username-warn{
  color: red;
  font-size: 14px;

}