*{
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    padding: 0;
    margin: 0;


}
body{
    display: flex;
    justify-content: center;
    background-color: rgb(78, 16, 16);
    align-items: center;
}
.form-container{
    display: flex;
    width: 600px;
    height: 350px;
    margin-top: 100px;
    background-color: rgb(110, 14, 14);
    border-radius: 10px;
   
}
.form{
    width: 500px;
    height: 250px;
    display: grid;
    grid-template-columns:  repeat(2,1fr);
    gap: 15px;
    margin-left: 45px;
    margin-top: 40px;
}
.input {
    border: 1px solid ;
    width: 250px;
    height: 40px;
    border: none;
    border-radius: 4px;
    padding: 5px;
    
}
.input:focus{
    color: white;
    outline: none;
    background-color: rgb(70, 11, 11);
}
.selector:hover{
 cursor: pointer;
}
.submit-btn{
  position: relative;
  left: 135px;
  top: 30px;
  height: 40px;
  border-radius: 40px;
  border: none;
}
.submit-btn:hover{
    cursor: pointer;
    background-color: rgb(214, 154, 154);    
    border: none;
}
.focus{
    background-color: darkred;
}
.focus:hover{
    background-color: darkred;
}
